/*Contatos*/
#struct-contatos{ display:table; width:100%; height:430px; }
#contatos{  margin:0px 45px 0px 45px; width:910px; height:inherit; display:table;}
#contatos .content-prox3{ display: table-cell; vertical-align: middle;}
#contatos .box-contatos{ background:#f9f9f9; margin-top:10px; padding:25px 20px 25px 20px; width:870px;} 

#contatos .box-contatos input[type=text], #contatos .box-contatos textarea{ display:table; margin:0px; margin-bottom:15px; background:#ebebeb; border:0px; font-size:11px; color:#7b7b7b; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif !important; padding:5px 10px 5px 10px;width:760px;font-style:italic;}
#contatos .box-contatos textarea{ height:85px; margin-bottom: 0px; }

#contatos .box-contatos input[type=button]{ display:table; height:30px; width:70px; text-transform:uppercase; font-family: 'PT Sans', sans-serif !important; border:0px; font-size:12px;  color:#757517; background:#dddc00; font-weight:bold; cursor:pointer; float:right; margin-top: -30px; }

#contatos .box-titulo-prox3 { background:#dddc00; display:table; }
#contatos .voltarTopo{ margin-top: 60px;margin-top:64px\9; margin-left: 625px; }
@-moz-document url-prefix() { 
  #contatos .voltarTopo{ margin-top: 62px; }
}
/* @End Contatos*/

/*Loading Envio Formulario*/
.backLightbox {	position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #ededed; opacity: .6; z-index: 21000; display: none; }
.loading { position: fixed; top: 50%; left: 50%; width: 32px; height: 32px; margin-left: -16px; margin-top: -16px; z-index: 22003;display: none; }
/*Fim Loading Envio Formulario*/