@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@import url("/Prox3-Site/V3/css/tudo.css");
@import url("/Prox3-Site/V3/css/clientes.css");
@import url("/Prox3-Site/V3/css/contato.css");
@import url("/Prox3-Site/V3/css/footer.css");

/* Header */
#struct-header{ display: table; height:152px; width:100%; z-index:9000}
#header{background-color:#FFF; box-shadow:-4px -5px 21px 9px #292525; display:table; width:inherit; height:152px; z-index:9000; position:fixed}
header{width:917px !important; height:107px; padding:45px 24px 0 59px !important; background:#FFF; z-index:9000;margin: 0 auto !important;display:table;}
#logo_header{width:96px; height:79px; background:url(../images/logo_header.png) no-repeat; text-indent:-9000px; float:left}

/* Navigator */
#navigator{width:515px; height:15px; float:right; margin:45px 0 0 0; padding:0}
#navigator li{list-style:none; display:inline; float:left; margin-right:32px; }
#navigator li, #navigator li a{font-family: 'PT Sans', sans-serif; font-size:12px; color:#848585; text-transform:uppercase;; text-decoration:none}
#navigator li a:hover{color:#848585; text-decoration:underline}

/* Como Pensamos */
#como-pensamos{width:100%; height:297px; background:url(../images/pensamos.jpg) no-repeat 50% 0; text-indent:-9000px}
#meet_work{width:210px; height:33px; position:absolute; left:50%; margin:145px 0 0 -386px}
#tab_contact{width:148px; height:25px; background:#2b647d; position:absolute; left:50%; margin-left:328px; font-family:Arial; font-size:11px; color:#FFF; text-align:center; padding-top:5px; text-indent: -5px;}