@charset "UTF-8";
/* CSS Document */

#body_services{width:100%; height:auto}
.body_text_service{width:396px; height:244px; float:left}

.tag_service{background:#e1e1e1; color:#FFF; font-size:10px; font-family:'PT Sans', sans-serif !important; text-transform:uppercase; padding:1px 5px 0px 5px; float:right; margin-bottom:5px}
.title_service{width:100%; height:auto; font-size:24px; letter-spacing:1px; font-family:'PT Sans', sans-serif !important; text-transform:uppercase; float:left; text-align:right; line-height:21px; margin-bottom:5px}
.text_service{width:100%; height:auto; font-family:Arial !important; font-size:12px; color:#b4b4b4; text-align:right; float:right}
.text_service strong{color:#838181; font-family:Arial !important}

#service_site{margin:47px 0 0 40px}
#service_site .title_service{color:#be3f3f}
#img_responsive{display:block; float:right; margin:-62px 40px 0 0}

#app_mobile{width:344px; height:173px; margin:-56px 0 0 418px}
#app_mobile .title_service{color:#7db77b}

#app_facebook{width:302px; height:189px; margin:90px 0 0 50px}
#app_facebook .tag_service{float:left}
#app_facebook .title_service{color:#2c6985; text-align:left}
#app_facebook .text_service{text-align:left}
#img_appFacebook{display:block; float:left; margin-left:67px}

#system{width:322px; height:132px; margin:391px 0 0 -733px}
#system .title_service{color:#b66ca6}

#consult{width:226px; height:97px; margin:530px 0 80px -546px}
#consult .title_service{color:#db6499}
#img_consultoria{position:absolute; margin:-130px 0 0 57px}